

<body>

<div class="container">
	<div class="row text-center"id="titre">
		<div class="span6 offset3" >
			<h1>Expérience TangrIAm 2</h1>
			<h2> Annotation d'extraits de vidéos </h2>
		</div>
	</div>
	<div id='texte' class = "text-center row">
	Bienvenue sur le site à partir duquel vous êtes invité à participer à une expérience intitulée "TangrIAm 2" dans le cadre du projet PsyPhINe. <br>
Le projet a pour but l'étude de l'interaction entre un agent humain et un agent non humain. Pour cela une première expérience a consisté à filmer des participants pendant la réalisation d'un <a href"https://fr.wikipedia.org/wiki/Tangram">tangram.</a><br>
Cette expérience proprement dite consiste à faire annoter ces extraits de vidéos par des participants n'ayant aucune connaissance de l'expérience. Vous disposerez de consignes précises pour ce faire après vous être connecté. <br>
Si vous souhaitez participer à cette expérience, il vous suffit de vous inscrire en appuyant sur le bouton « inscription » ou de vous connecter si vous êtes déjà inscrit.<br>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<h3 class="text-center login-title">Connectez-vous pour participer</h1>
				<div class="account-wall">
					<!-- la variable flash s'active si la personne a fait une erreur en se connectant ou si elle essaie d'acceder à une page accessible uniquement si en étant connecté ! -->
						<div id='etat'><?php echo $flash['etat_co'];?></div>
						<form class="form-signin"  action="" method= "post" >
							<input type="text" name="pseudo" class="form-control" placeholder="pseudo" required autofocus>
							<input type="password" name="password" class="form-control" placeholder="Password" required>
							<button class="btn btn-lg btn-primary btn-block" type="submit">
							Se connecter</button>
							</form>
				</div>
				<a href = "<?php echo $app->urlFor('inscription');?>" class="text-center new-account">Inscription</a>
		</div>
	</div>
	<br>
	<br>
	<h4 class="text-center"> Remarque sur la protection de la vie privée </h4><br>
	<div class="row text-center">
		L'enregistrement de vos réponses ne contient aucune information d'identification qui permettra de vous identifier. Si vous avez répondu à un questionnaire utilisant
		des invitations, vous pouvez être assuré(e) que le code de l'invitation n'est pas enregistré avec votre
		réponse. Les invitations sont gérées dans une base de données séparée qui n'est mise à jour que pour
		indiquer si vous avez ou non utilisé votre code pour remplir le questionnaire. Il n'y a aucun moyen
		de faire le lien entre les invitations et les réponses enregistrées pour ce questionnaire.
	</div>
</div> 
</body>
					
