<body>

<div class="container">
	<div class="row text-center"id="titre">
		<?php include('infoCo.html'); ?>
		<div class="span6 offset3" >
			<h1>Consignes</h1>
		</div>
	</div>
	<div class="row text-center">
		<ul id="breadcrumbs-two"  class="row text-center">
		    <li><a href="" class="current">Consigne</a></li>
		    <li><a href="<?php echo $app->urlFor('visionnage',array('page'=>'1'));?>" class="after">Visionnage</a></li>
		    <li><a class="after blocked">Questionnaire</a></li>
		</ul>
	</div>
	<div id='texte' class = "row">
	Per hoc minui studium suum existimans Paulus, 
	ut erat in conplicandis negotiis artifex dirus, 
	unde ei Catenae inditum est cognomentum, 
	vicarium ipsum eos quibus praeerat adhuc defensantem ad sortem periculorum communium traxit. 
	et instabat ut eum quoque cum tribunis et aliis pluribus ad comitatum imperatoris vinctum perduceret: 
	quo percitus ille exitio urgente abrupto ferro eundem adoritur Paulum. 
	et quia languente dextera, letaliter ferire non potuit, iam districtum mucronem in proprium latus inpegit.
	 hocque deformi genere mortis excessit e vita iustissimus rector ausus miserabiles casus levare multorum.
	</div>
	<div
</div> 
</body>
