<body>

<div class="container">
	<div class="row text-center"id="titre">
		<?php include('infoCo.html'); ?>
		<div class="span6 offset3" >
			<h1>Consignes</h1>
		</div>
	</div>
	<div class="row text-center">
		<ul id="breadcrumbs-two"  class="row text-center">
		    <li><a href="" class="current">Consigne</a></li>
		    <li><a href="<?php echo $app->urlFor('visionnage');?>" class="after">Visionnage</a></li>
		    <li><a class="after blocked">Questionnaire</a></li>
		</ul>
	</div>
	<p id='texte' class = "text-center row">
	Merci de prendre le temps de participer à l'expérience. <br> Elle comporte trois étapes, d'abord la lecture des consignes, ensuite le visionnage et annotation de la vidéo, puis un questionnaire que vous devrez remplir.  <br>Pour passer d'une étape à l'autre vous pouvez appuyer sur les boutons du menu au dessus de ce paragraphe. <br>Vous pourrez aisement passer des consignes au visionnage et inversement, mais vous ne pourrez plus revenir en arrière une fois arrivé au questionnaire, ni une fois le questionnaire validé. Assurez-vous d'avoir terminé l'annotation avant de passer au questionnaire. <br>Si vous quittez cette page ou si vous vous deconnectez, vous serez automatiquement redirigé vers l'étape à laquelle vous vous trouviez en revenant sur le site, ou en vous reconnectant.<br>
	Vous pouvez maintenant passer à l'étape suivante.
	</p>
	<div
</div> 
</body>
