<body>

<div class="container">
	<div class="row text-center"id="titre">
		<?php include('infoCo.html'); ?>
		<div class="span6 offset3" >
			<h1>Questionnaire</h1>
			<h2> Veuillez répondre aux questions</h2>
		</div>
	</div>
	<div class="row text-center">
		<ul id="breadcrumbs-two"  class="row text-center">
		    <li><a class="before blocked">Consigne</a></li>
		    <li><a href = "<?php echo $app->urlFor('visionnage');?>"class="before">Visionnage</a></li>
		    <li><a class="current">Questionnaire</a></li>
		</ul>
	</div>
	<form action="" method= "post" >
		<div class="row">
				<div class="form-group">
					<label for="sel1">Si vous aviez été à la place du sujet, sur la base de ce que vous avez observé, quel degré de confiance attribueriez-vous à cette lampe ?</label></br>
				    <div class="col-md-3">  
				      <select name="confiance" class="form-control" id="sel1">
				        <option value="1">1(aucune confiance)</option>
				        <option value="2">2</option>
				        <option value="3">3</option>
				        <option value="4">4</option>
				        <option value="5">5</option>
				        <option value="6">6</option>
				        <option value="7">7(confiance totale)</option>
				      </select>
				    </div>
				</div>
		</div></br>

		<div class="row">
				<div class="form-group">
					<label for="sel1">Diriez-vous qu'il y a eu interaction entre le sujet et la lampe ?</label></br>
					<div class="col-md-3">
				      <select name="interaction"class="form-control" id="sel1">
				        <option value="1">non</option>
				        <option value="2">plutôt non</option>
				        <option value="3">plutôt oui</option>
				        <option value="4">oui</option>
				      </select>
				    </div>
				</div>
		</div></br>
		<div class="row">
				<label for="nature_int">Comment qualifieriez-vous la nature de cette interaction ?</label>
				<div class="radio">
	              <label>
	                <input name="nature_int" type="radio" value="coop" checked>
	                coopérative
	              </label>
	              <label>
	                <input name="nature_int" type="radio" value="non_comp">
	                non compétitive
	              </label>
	              <label>
	                <input name="nature_int" type="radio" value="comp">
	                compétitive
	              </label>
           		 </div>
		</div></br>
		<div class="row">
				<div class="form-group">
					<label for="sel1">L'interaction entre le participant et la lampe vous semble t'elle laborieuse ?</label></br>
					<div class="col-md-3">
				      <select name="interaction"class="form-control" id="sel1">
				        <option value="1">1(très peu laborieuse)</option>
				        <option value="2">2</option>
				        <option value="3">3</option>
				        <option value="4">4</option>
				        <option value="5">5</option>
				        <option value="6">6</option>
				        <option value="7">7(très laborieuse)</option>
				      </select>
				    </div>
				</div>
		</div></br>

		<div class="row">
			<div class="form-group">
				<label for="sel1">Si vous deviez attribuer un degré d'intelligence à la lampe, quel serait-il ?</label></br>
					<div class="col-md-3">
				      <select name="intelligence"class="form-control" id="sel1">
				        <option value="1">1(très faible)</option>
				        <option value="2">2</option>
				        <option value="3">3</option>
				        <option value="4">4</option>
				        <option value="5">5</option>
				        <option value="6">6</option>
				        <option value="7">7(très élevé)</option>
				      </select>
				    </div>  
			</div>
		</div></br>

		<div class="row">
				<label for="age">Selon vous quel type d'agent était aux commandes de la lampe ?</label>
				<div class="radio">
	              <label>
	                <input name="agent" type="radio" value="H" checked>
	                Agent humain aux commandes
	              </label>
	              <label>
	                <input name="agent" type="radio" value="A">
	                Agent artificiel (programmes, logiciels...) aux commandes
	              </label>
           		 </div>
		</div></br>

		<div class="row">
				<div class="form-group">
					<label for="comportement">Comment qualifieriez-vous les comportements de la lampe ?</label></br>
					<div class="col-md-5">
						<textarea class="form-control" rows=5 name="comportement" placeholder="" required ></textarea>
					</div>
				</div>
		</div></br>
		<div class="row">
				<div class="form-group">
					<label for="sens">Enfin, pour terminer, quel sens attribueriez-vous à cette expérience ?</label></br>
					<div class="col-md-5">
						<textarea class="form-control" rows=5 name="sens" placeholder="" required ></textarea>
					</div>				
				</div>
		</div>

		<br/>
		<div class="row">
			<div class="col-md-offset-5 col-md-1">
				<button type="submit" class="btn btn-primary">Envoyez mes réponses</button>
			</div>
		</div>
	</form>
</div> 
</body>
