
<div class="container">
	<div class="row text-center"id="titre">
		<?php include('infoCo.html'); ?>
		<div class="span6 offset3" >
			<h1>Visionnage</h1>
		</div>
	</div>
	<div class="row text-center">
		<ul id="breadcrumbs-two"  class="row text-center">
		    <li><a href="<?php echo $app->urlFor('consigne');?>" class="before">Consigne</a></li>
		    <li><a href="" class="current">Visionnage</a></li>
		    <li><a href="<?php echo $app->urlFor('questionnaire');?>"class="after">Questionnaire</a></li>
		</ul>
	</div>
	<script type="text/javascript">
	//<![CDATA[
	$(document).ready(function(){

		$("#jquery_jplayer_1").jPlayer({
			ready: function () {
				$(this).jPlayer("setMedia", {
					title: "",
					rtmpv: "<?php echo $tab['url']; ?>",
				});
			},
			timeupdate : function (event){
				if (event.jPlayer.status.currentTime > "<?php echo $tab[1]['temps']; ?>") {
     				$('#image').html("<img src=image/<?php echo $tab[1]['nom']; ?>>");
  				}
  				else{
  					$('#image').html("<img src=image/<?php echo $tab[0]['nom']; ?>>");
  				}
			},
			swfPath: "dist/jplayer",
			supplied: "rtmpv",
			size: {
				width: "640px",
				height: "360px",
				cssClass: "jp-video-360p"
			},
			useStateClassSkin: true,
			autoBlur: false,
			smoothPlayBar: true,
			keyEnabled: true,
			remainingDuration: true,
			toggleDuration: true
		});
	});
	function envoi(nom)
	{
	    var currentTime = $.jPlayer.convertTime($('#jquery_jplayer_1').data("jPlayer").status.currentTime);
		$.ajax
		({
		    type: "POST",
			data: '&nom='+ nom +'&currentTime=' + currentTime,
		    url: "http://localhost/site-visionnage/ajoutAnnot",
		    success: function(response) {
		    	var element = "<tr ><td class='col-xs-4'>"+nom+"</td><td class='time col-xs-4'>"+currentTime+":00"+"</td><td class='col-xs-4'><bouton id="+response+" onclick='supprimer(this.id);' type='bouton'class='btn btn-danger'>supprimer</bouton></td></tr>";
		    	if($('.time').length){
			    	$('.time').each(function() {
				       if($(this).html() > currentTime){
				       		$(this).parent().before(element);
				       		var ok = true;
				       		return false;
				       }
				         
				    });
				    if(typeof ok == undefined){$('tbody').append(element);}
				}else{
					alert("ok");
					$('tbody').append(element);
				}
		    		
                },
                error: function() {
                	alert("Il y a un problème, désolé! Essayez de recharger la page!");
                }
		});
	}
	function supprimer(id)
	{
		$.ajax
		({
		    type: "POST",
			data: '&id='+ id,
		    url: "http://localhost/site-visionnage/supprimeAnnot",
		    success: function(response) {
		    		$("#"+id).parent().parent().remove();	    		
                },
                error: function() {
                	alert("Il y a un problème, désolé! Essayez de recharger la page !");
                }
		});
	}

	//]]>
	</script>
	<p id="texte" class="row text-center">
		Vous êtes arrivé à l'étape d'annotation de vidéos, le but de cette étape est de regarder la video et de l'annoter. L'annotation se fait en appuyant sur les boutons se trouvant à droite de la vidéo. Les différentes annotations seront ensuite visibles dans le tableau se trouvant en dessous de la vidéo. Vous pouvez choisir de supprimer vos annotations si vous changez d'avis, le tableau comporte le nom du bouton sur lequel vous avez appuyé, le moment où vous avez appuyé sur ce bouton, et un bouton pour supprimer l'annotation si vous souhaitez effectuer une modification. Annotez uniquement lorsque cela vous semble nécessaire. Une fois la phase d'annotation terminée, vous pouvez passer à l'étape du questionnaire. Il ne vous sera plus possible de revenir à l'étape du visionnage avant d'avoir terminé le questionnaire. <br><br>
		 La vidéo montre un participant réalisant une figure du tangram. Il doit placer les pièces de manière à reproduire la figure solution qui se trouve à droite de la vidéo. Il peut réaliser jusque 8 figures. Cette image changera si le participant passe à l'image suivante. Les boutons correspondent à différentes réactions du participant. Regardez attentivement la vidéo et appuyez sur le bouton correspondant si vous jugez qu'il manifeste l'un ou l'autre des comportements.
		Voici les consignes pour chaque boutons. Il y a deux catégories, la première concerne les interractions entre la lampe et le sujet, la deuxième concerne les émotions du sujet.<br><br>
		<ul id="texte"class="text-center list-group">
			<li class="list-group-item">Cliquez sur le bouton « AIDE » à chaque fois que le sujet semble s’aider de la lampe dans la résolution du tangram</li>
			<li class="list-group-item">Cliquez sur le bouton « ATTENTIF » à chaque fois que le sujet semble prêter une attention particulière à la lampe</li>
			<li class="list-group-item">Cliquez sur le bouton « LAMPE GENANTE » à chaque fois que le comportement de la lampe semble gêner le sujet</li>
			<li class="list-group-item">Cliquez sur le bouton « LAMPE AIDANTE » à chaque fois que le comportement de la lampe semble s'ajuster au comportement du sujet dans le but de l'aider</li>
			<li class="list-group-item">Cliquez sur un des boutons relatifs aux différentes émotions à chaque fois que le sujet manifeste une émotion particulière en réaction au comportement de la lampe (« JOIE », « COLERE », « DEGOUT », « SURPRISE »)</li>
		</ul><br>
	</p>
	<div class="row text-center">
		<div id="video" class="col-md-8">
			<div id="jp_container_1" class="jp-video jp-video-360p" role="application" aria-label="media player">
				<div class="jp-type-single">
					<div id="jquery_jplayer_1" class="jp-jplayer"></div>
					<div class="jp-gui">
						<div class="jp-video-play">
							<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
						</div>
						<div class="jp-interface">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
							<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
							<div class="jp-controls-holder">
								<div class="jp-controls">
									<button class="jp-play" role="button" tabindex="0">play</button>
									<button class="jp-stop" role="button" tabindex="0">stop</button>
								</div>
								<div class="jp-volume-controls">
									<button class="jp-mute" role="button" tabindex="0">mute</button>
									<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
									<div class="jp-volume-bar">
										<div class="jp-volume-bar-value"></div>
									</div>
								</div>
								<div class="jp-toggles">
									<button class="jp-repeat" role="button" tabindex="0">repeat</button>
									<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
								</div>
							</div>
							<div class="jp-details">
								<div class="jp-title" aria-label="title">&nbsp;</div>
							</div>
						</div>
					</div>
					<div class="jp-no-solution">
						<span>Update Required</span>
						To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					</div>
				</div>
			</div>
		</div>
		<div id="bouton" class="col-md-4">
			<h5> Interaction : </h5>
			<button type="button" onclick="envoi('aide');" name="aide"class="btn-md btn btn-info">AIDE</button>
			<button type="button" name="attention"onclick="envoi('attention');" class="btn-md btn btn-info">ATTENTIF</button>
			<button type="button" name="lampe_aidante" onclick="envoi('lampe_aidante');" class="btn-md btn btn-info">LAMPE AIDANTE</button>
			<button type="button" name="perturbant" onclick="envoi('perturbant');" class="btn-md btn btn-info">LAMPE GENANTE</button><br>
			<h5> Emotion : </h5>
			<a id="emotion" onclick="envoi('joie');" name="joie"class="btn-md btn btn-success">JOIE</a>
			<a id="emotion" onclick="envoi('dégout');" name="dégout"class="btn-md btn btn-primary">DEGOUT</a>
			<a id="emotion" onclick="envoi('colere');" name="colere"class="btn-md btn btn-danger">COLERE</a>
			<a id="emotion" onclick="envoi('surprise');" name="surprise"class="btn-md btn btn-warning">SURPRISE</a>
		</div>
		<div id="image" class="col-md-5"/></div>
	</div>
	<div class="row">	
		<div class="col-md-8 liste_annot">
			<table class="table table-fixed">
		          <thead>
		            <tr>
		              <th class="col-xs-4">Nom</th><th class="col-xs-4">Temps</th><th class="col-xs-4"></th>
		            </tr>
		          </thead>
		          <tbody>
		            <?php echo $annot;?>
		          </tbody>
		    </table>
		</div>
	</div>
</div>
</body>