
<div class="container">
	<div class="row text-center"id="titre">
		<?php include('infoCo.html'); ?>
		<div class="span6 offset3" >
			<h1>Visionnage</h1>
		</div>
	</div>
	<div class="row text-center">
		<ul id="breadcrumbs-two"  class="row text-center">  

			<!-- menu -->

		    <li><a href="<?php echo $app->urlFor('consigne');?>" class="before">Consigne</a></li>
		    <li><a href="" class="current">Annotation</a></li>
		    <li><a href="<?php echo $app->urlFor('questionnaire');?>"class="after">Questionnaire</a></li>
		</ul>
	</div>

	<script type="text/javascript">
	//<![CDATA[

	// code javascript pour lecteur

	$(document).ready(function(){

		$("#jquery_jplayer_1").jPlayer({
			ready: function () {
				$(this).jPlayer("setMedia", {
					title: "",
					rtmpv: "<?php echo $tab['url']; ?>",
				});
			},
			// Affichage de l'image

			timeupdate : function (event){
				var image = "";
				// Le nom de l'image est recuperé depuis un tableau envoyé dans le controllerPage
				// si le temps est supérieur à celui où la deuxième image doit s'afficher et que l'image qui doit être affiché n'est pas affiché, on l'affiche, sinon on affiche la première image
				if (event.jPlayer.status.currentTime > "<?php echo $tab[1]['temps']; ?>" && image != "<?php echo $tab[1]['nom']; ?>") {
     				image = "<?php echo $tab[1]['nom']; ?>";
     				$('#image').html("<img src=image/"+image+">");
  				}
  				else{
  					image = "<?php echo $tab[0]['nom']; ?>";
  					$('#image').html("<img src=image/"+image+">");
  				}
  				
			},
			swfPath: "dist/jplayer",
			supplied: "rtmpv",
			size: {
				width: "640px",
				height: "360px",
				cssClass: "jp-video-360p"
			},
			useStateClassSkin: true,
			autoBlur: false,
			smoothPlayBar: true,
			keyEnabled: true,
			remainingDuration: true,
			toggleDuration: true
		});
	});

	// code javascript pour les annotations

	function envoi(nom) //envoyer les annotations
	{
	    var currentTime = $.jPlayer.convertTime($('#jquery_jplayer_1').data("jPlayer").status.currentTime); // La position actuel de la personne sur la vidéo
		$.ajax
		({ // On envoie au serveur le nom de l'annotation et la position
		    type: "POST",
			data: '&nom='+ nom +'&currentTime=' + currentTime,
		    url: "http://localhost/site-visionnage/ajoutAnnot", // traité par index.php
		    success: function(response) {
		    	// Ensuite on ajoute l'élément dans le tableau html
		    	var element = "<tr ><td class='col-xs-4'>"+nom+"</td><td class='time col-xs-4'>"+currentTime+":00"+"</td><td class='col-xs-4'><bouton id="+response+" onclick='supprimer(this.id);' type='bouton'class='btn btn-danger'>supprimer</bouton></td></tr>";
		    	

		    	if($('.time').length){
		    		var ok=false;
		    		// on examine chaque élément du tableau pour placer l'annotation en fonction de la position
			    	$('.time').each(function() {
				       if($(this).html() > currentTime){
				       		$(this).parent().before(element); // Si on trouve une annotation avec une position plus grande, on place l'annotation avant
				       		ok = true;
				       		return false;
				       }
				         
				    });
				    if(ok == false){alert('ok');$('tbody').append(element);} // Sinon on place l'élément à la fin
				}else{
					$('tbody').append(element); // s'il n'y a pas d'élément dans le tableau on le place juste
				}
		    		
                },
                error: function() {
                	alert("Il y a un problème, désolé! Essayez de recharger la page!");
                }
		});
	}
	function supprimer(id) // Pour supprimer un élément
	{
		$.ajax
		({
		    type: "POST",
			data: '&id='+ id,
		    url: "http://localhost/site-visionnage/supprimeAnnot",
		    success: function(response) {
		    		$("#"+id).parent().parent().remove();	    		
                },
                error: function() {
                	alert("Il y a un problème, désolé! Essayez de recharger la page !");
                }
		});
	}

	//]]> 
	</script>
	<!-- Consigne -->
	<p id="texte" class="row text-center">
		
		Vous disposez de deux catégories de boutons, la première concerne les comportements des agents (participant et lampe), la deuxième concerne les émotions des agents et leur valence (positive ou négative). Vous disposez en plus d'un bouton spécifique qui vous permet d'indiquer les moments où vous percevez une interaction entre les agents. L'interaction est l'action ou l'influence reciproque qui peut s'établir entre 2 agents. <br><br>
		<ul id="texte"class="text-center list-group">
			<li class="list-group-item">Cliquez sur le bouton "REACTION SUJET" à chaque fois que le participant semble reagir au comportement de la lampe</li>
			<li class="list-group-item">Cliquez sur le bouton "REACTION LAMPE" à chaque fois que la lampe semble réagir au comportement du sujet</li>
			<li class="list-group-item">Cliquez sur le bouton " EMOTION POSITIVE " à chaque fois que la reaction de l'un ou l'autre des agents exprime une émotion positive. </li>
			<li class="list-group-item">Cliquez sur le bouton " EMOTION NEGATIVE " à chaque fois que la reaction de l'un ou l'autre des agents exprime une émotion négative. </li>
			<li class="list-group-item">Cliquez sur le bouton "INTERACTION" lorsque vous noté une influence réciproque entre la lampe et le sujet.</li>
		</ul><br>
	</p>

	 <!-- le lecteur -->
	<div class="row text-center">
		<div id="video" class="col-md-8">
			<div id="jp_container_1" class="jp-video jp-video-360p" role="application" aria-label="media player">
				<div class="jp-type-single">
					<div id="jquery_jplayer_1" class="jp-jplayer"></div>
					<div class="jp-gui">
						<div class="jp-video-play">
							<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
						</div>
						<div class="jp-interface">
							<div class="jp-progress">
								<div class="jp-seek-bar">
									<div class="jp-play-bar"></div>
								</div>
							</div>
							<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
							<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
							<div class="jp-controls-holder">
								<div class="jp-controls">
									<button class="jp-play" role="button" tabindex="0">play</button>
									<button class="jp-stop" role="button" tabindex="0">stop</button>
								</div>
								<div class="jp-volume-controls">
									<button class="jp-mute" role="button" tabindex="0">mute</button>
									<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
									<div class="jp-volume-bar">
										<div class="jp-volume-bar-value"></div>
									</div>
								</div>
								<div class="jp-toggles">
									<button class="jp-repeat" role="button" tabindex="0">repeat</button>
									<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
								</div>
							</div>
							<div class="jp-details">
								<div class="jp-title" aria-label="title">&nbsp;</div>
							</div>
						</div>
					</div>
					<div class="jp-no-solution">
						<span>Update Required</span>
						To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
					</div>
				</div>
			</div>
		</div>

		<!-- les boutons d'annotations -->

		<div id="bouton" class="col-md-4">
			<h4> Comportements : </h4>
			<button type="button" onclick="envoi('aide');" name="aide"class="btn-md btn btn-info">REACTION SUJET</button>
			<button type="button" name="attention"onclick="envoi('attention');" class="btn-md btn btn-info">REACTION LAMPE</button>
			<h4> Emotion : </h4>
			<button type="button" name="lampe_aidante" onclick="envoi('lampe_aidante');" class="btn-md btn btn-success">EMOTION POSITIVE</button>
			<button type="button" name="perturbant" onclick="envoi('perturbant');" class="btn-md btn btn-danger">EMOTION NEGATIVE</button><br><br>
			<button type="button" name="perturbant" onclick="envoi('perturbant');" class="btn-md btn btn-warning">INTERACTION</button><br>
		</div>
		<div id="image" class="col-md-5"/></div>
	</div>
	<div class="row">	
		<div class="col-md-8 liste_annot">
			<!-- tableau contenant les annotations -->
			<table class="table table-fixed">
		          <thead>
		            <tr>
		              <th class="col-xs-4">Nom</th><th class="col-xs-4">Temps</th><th class="col-xs-4"></th>
		            </tr>
		          </thead>
		          <tbody>
		          	<!-- liste d'annotations envoyées par le controller de page -->
		            <?php echo $annot;?>
		          </tbody>
		    </table>
		</div>
	</div>
</div>
</body>